html{
	background: @charcoal;
}

body{
	padding-top: 76px;
	color: @charcoal;
	background: @soft-gray;
}

nav.navbar{
	background-color: @soft-gray;
	margin-bottom: 0;
	border: none;
	.navbar-brand{
		height: auto;
		padding: 15px 15px 19px;
	}
	.navbar-toggle{
		margin-top: 15px + 4px;
		span.icon-bar{
			background: @brand-primary;
		}
	}
	#main-nav{
		font-size: 16/14em;
		ul{
			li{
				a{
					padding: 30px 15px 26px;
				}
			}
		}
	}
}

footer{
	background: @charcoal;
	color: @white;
	padding: 16px 0;
	margin-top: 62px;
	.copyright{
		padding-left: 32px;
		font-size: 12.5/14em;
	}
}

.project-tile{
	text-align: center;
	& > a{
		display: block;
		text-decoration: none;
	}
	span.title{
		display: block;
	}
	ul.tags{
		margin: 0;
		padding: 0;
		list-style-type: none;
		li{
			display: inline-block;
			margin-right: 4px;
		}
	}
}

ul.plain, ol.plain{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.affix-container{
	h1,h2,h3,h4,h5{
		margin-top: 0;
	}
	@media(max-width: @screen-xs-max){
		position: static !important;
		width: auto !important;
	}
}

.section:first-child{
	h1,h2,h3,h4,h5{
		margin-top: 0;
	}
}