<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-8">
				<h1>Who is Charles?</h1>
				<span style="display:block;">Hello.</span>
				<p>I am a Graphic Designer &amp; Digital Media artist based in Burlington Vermont.</p>
				<p>My creativity bases itself in a variety of mediums;  I feel having many outlets to express my imagination builds originality.  My degree from Champlain College in Graphic Design, paired with my skills and experience producing professional videos and photographs provide me perspectives and attention to detail others don't have.</p>
				<p>My passion for actions sports and youth culture developed with my ever-growing addiction to skiing.  I love being outside and experiencing new things and places.</p>
				<p>Sound like the right mix for your creative needs?</p>
				<h3>Let's talk:</h3>
				<a href="mailto:charles@charlesstemen.com">charles@charlesstemen.com</a>
				<h3>Services:</h3>
				<ul class="plain">
					<li>Branding</li>
					<li>Print &amp; Publication Design</li>
					<li>Custom Lettering</li>
					<li>Packaging Design</li>
					<li>Web Design</li>
					<li>Motion Graphics</li>
					<li>Cinematography</li>
					<li>Video Editing</li>
					<li>Video Direction</li>
					<li>Photography (product, portrait, lifestyle, action, etc.)</li>
				</ul>
				<h3>Have a big project?<br>I often collaborate with these creative professionals:</h3>
				<ul class="plain">
					<li><a href="http://themainidea.tv/">The Main Idea</a></li>
					<li><a href="#">The Attic</a></li>
					<li><a href="http://hgskis.com">HG Skis</a></li>
					<li><a href="#">Liam McKinley</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="affix-container">
					<h3>Links</h3>
					<ul class="plain">
						<li><a href="mailto:charles@charlesstemen.com">Email</a></li>
						<li><a href="https://www.linkedin.com/profile/view?id=241863487&trk=nav_responsive_tab_profile">LinkedIn</a></li>
						<li><a href="http://instagram.com/gillacam">Instagram</a></li>
						<li><a href="https://vimeo.com/charlesstemen">Vimeo</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>