<section id="project-detail">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-sm-push-6 col-md-4 col-md-push-8 col-lg-4 col-lg-push-8">
				<h1>HG Skis 2015</h1>
				<p>2015 rebrand for this craft ski company that embraces the surrounding youth "park" skiing culture.  My design sollutions focused on creating a connection between where the companies roots began, taking inspiration from everything for the vermont state flag, to Sugarbush Resort.</p>
				<ul class="plain">
					<li><a href="#">hgskis.com</a></li>
					<li><a href="#">vimeo.com/hgskis</a></li>
					<li><a href="#">facebook.com/hgskis</a></li>
					<li><a href="#">instagram.com/hgskis</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-6 col-sm-pull-6 col-md-8 col-md-pull-4 col-lg-8 col-lg-pull-4">
				<h2 class="section-title">Logo &amp; Marks</h2>
				<div class="section-controls">
					<p><a href="javascript:void(0)">Previous</a> / <a href="javascript:void(0)">Next</a> (1 out of 5)</p>
				</div>
				<div class="slider-wrap">
					<ul class="plain">
						<li><img class="img-responsive" src="http://placehold.it/800x400"></li>
						<li><img class="img-responsive" src="http://placehold.it/800x400"></li>
						<li><img class="img-responsive" src="http://placehold.it/800x400"></li>
						<li><img class="img-responsive" src="http://placehold.it/800x400"></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
				<h2 class="section-title">Logo &amp; Marks</h2>
				<div class="section-controls">
					<p><a href="javascript:void(0)">Previous</a> / <a href="javascript:void(0)">Next</a> (1 out of 5)</p>
				</div>
				<div class="slider-wrap">
					<ul class="plain">
						<li><img class="img-responsive" src="http://placehold.it/800x400"></li>
						<li><img class="img-responsive" src="http://placehold.it/800x400"></li>
						<li><img class="img-responsive" src="http://placehold.it/800x400"></li>
						<li><img class="img-responsive" src="http://placehold.it/800x400"></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>