<section id="project-detail">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-sm-push-6 col-md-4 col-md-push-8 col-lg-4 col-lg-push-8">
				<div class="affix-container">
					<h1>{{ project.title }}</h1>
					<div ng-bind-html="makeHTMLSafe(project.description)"></div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-sm-pull-6 col-md-8 col-md-pull-4 col-lg-8 col-lg-pull-4">
				<div class="section" ng-repeat="section in project.sections" ng-controller="PaginationCtrl" ng-init="section = section">
					<h2 class="section-title">{{ section.title }}</h2>
					<div class="section-controls" ng-show="section.assets.length">
						<p><a href="javascript:void(0)" ng-click="prevPage()">Previous</a> / <a href="javascript:void(0)" ng-click="nextPage()">Next</a> {{'('+currPage+' out of '+pageCount+')'}}</p>
					</div>
					<div class="slider-wrap" ng-show="section.assets.length">
						<ul class="plain">
							<li ng-repeat="asset in section.assets | offset: (currPage*itemsPerPage)-1 | limitTo: itemsPerPage"><img class="img-responsive" ng-src="{{ project.projectPath + asset }}"></li>
						</ul>
					</div>
					<div class="video-wrap" ng-show="section.vimeoEmbed" ng-bind-html="makeHTMLSafe(section.vimeoEmbed)"></div>
				</div>
			</div>
		</div>
	</div>
</section>