<div id="portfolio">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="item">
					<div class="image-wrapper">
  					<img src="http://placehold.it/800x400" class="img-responsive">
  				</div>
  				<span class="title">Panel Title</span>
  				<ul class="tags">
  					<li>something,</li>
  					<li>something,</li>
  					<li>something,</li>
  					<li>something</li>
  				</ul>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="item">
					<div class="image-wrapper">
  					<img src="http://placehold.it/800x400" class="img-responsive">
  				</div>
  				<span class="title">Panel Title</span>
  				<ul class="tags">
  					<li>something,</li>
  					<li>something,</li>
  					<li>something,</li>
  					<li>something</li>
  				</ul>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="item">
					<div class="image-wrapper">
  					<img src="http://placehold.it/800x400" class="img-responsive">
  				</div>
  				<span class="title">Panel Title</span>
  				<ul class="tags">
  					<li>something,</li>
  					<li>something,</li>
  					<li>something,</li>
  					<li>something</li>
  				</ul>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="item">
					<div class="image-wrapper">
  					<img src="http://placehold.it/800x400" class="img-responsive">
  				</div>
  				<span class="title">Panel Title</span>
  				<ul class="tags">
  					<li>something,</li>
  					<li>something,</li>
  					<li>something,</li>
  					<li>something</li>
  				</ul>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="item">
					<div class="image-wrapper">
  					<img src="http://placehold.it/800x400" class="img-responsive">
  				</div>
  				<span class="title">Panel Title</span>
  				<ul class="tags">
  					<li>something,</li>
  					<li>something,</li>
  					<li>something,</li>
  					<li>something</li>
  				</ul>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="item">
					<div class="image-wrapper">
  					<img src="http://placehold.it/800x400" class="img-responsive">
  				</div>
  				<span class="title">Panel Title</span>
  				<ul class="tags">
  					<li>something,</li>
  					<li>something,</li>
  					<li>something,</li>
  					<li>something</li>
  				</ul>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="item">
					<div class="image-wrapper">
  					<img src="http://placehold.it/800x400" class="img-responsive">
  				</div>
  				<span class="title">Panel Title</span>
  				<ul class="tags">
  					<li>something,</li>
  					<li>something,</li>
  					<li>something,</li>
  					<li>something</li>
  				</ul>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="item">
					<div class="image-wrapper">
  					<img src="http://placehold.it/800x400" class="img-responsive">
  				</div>
  				<span class="title">Panel Title</span>
  				<ul class="tags">
  					<li>something,</li>
  					<li>something,</li>
  					<li>something,</li>
  					<li>something</li>
  				</ul>
				</div>
			</div>
		</div>
	</div>
</div>