<div id="portfolio">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="project in projects | filter: categoryFilter">
				<div class="project-tile">
					<a ng-href="{{ '#/project/' + project.id }}">
						<div class="image-wrapper">
	  					<img ng-src="{{ project.mainImg }}" class="img-responsive">
	  				</div>
	  				<span class="title">{{ project.title }}</span>
	  				<ul class="tags">
	  					<li ng-repeat="category in project.categories">
	  						<a ng-href="{{ '#/show/' + category }}">{{ category }}{{ !$last ? ', ' : '' }}</a>
	  					</li>
	  				</ul>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>