<!DOCTYPE html>
<html ng-app="portfolio">
<head>
	<title>Home | Charles Stemen</title>
	<link rel="stylesheet" type="text/css" href="css/master.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-controller="MainCtrl">
	<nav class="navbar navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header clearfix">
				<button type="button" class="navbar-toggle" ng-click="toggleCollapse()">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><img class="img-responsive" src="images/logo.png" alt="Charles Stemen"></a>
			</div>
			<div class="collapse navbar-collapse" id="main-nav" collapse="mobileMenuCollapsed">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#/show/graphic-design" ng-click="closeMenu()">Graphic Design</a></li>
					<li><a href="#/show/photography" ng-click="closeMenu()">Photography</a></li>
					<li><a href="#/show/video" ng-click="closeMenu()">Video</a></li>
					<li><a href="#/contact" ng-click="closeMenu()">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<section id="banner">
	  <div class="container">
	  	<div class="row">
	  		<div class="col-xs-12">
	  			<div class="banner-img-wrap">
	  				<img src="images/home-banner.png" class="img-responsive" alt="Youth culture content creator - Since '92">
	  			</div>
	  		</div>
	  	</div>
	  </div>
	</section>
	<div id="angular-view-target" ng-view autoscroll>
		<!-- template loaded here -->
	</div>
  <footer>
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<nav>
						<span class="copyright">&copy; 2014 Charles Stemen</span>
					</nav>
				</div>
			</div>
		</div>
	</footer>
	<!-- thirdparty -->
  <script type="text/javascript" src="js/thirdparty/jquery.1.11.0.min.js"></script>
  <script type="text/javascript" src="js/thirdparty/bootstrap-affix.js"></script>
  <script type="text/javascript" src="js/thirdparty/angular.1.2.14.min.js"></script>
  <script type="text/javascript" src="js/thirdparty/angular-route.1.2.14.min.js"></script>
  <script type="text/javascript" src="js/thirdparty/bootstrap-custom/ui-bootstrap-custom-0.10.0.min.js"></script>
  <script type="text/javascript" src="js/thirdparty/fitvids.js"></script>
  <!-- app bootstrap -->
  <script type="text/javascript" src="js/main.js"></script>
  <!-- controllers -->
  <script type="text/javascript" src="js/controllers/HomeCtrl.js"></script>
  <script type="text/javascript" src="js/controllers/DetailCtrl.js"></script>
  <script type="text/javascript" src="js/controllers/ErrorCtrl.js"></script>
  <script type="text/javascript" src="js/controllers/PaginationCtrl.js"></script>
  <!-- services -->
  <script type="text/javascript" src="js/services/ProjectService.js"></script>

  <script type="text/javascript">
  	$(function(){
  		setTimeout(function(){
				$('.video-wrap').fitVids();
				$('.affix-container').affix({
					top: 364
				});
				$('.affix-container').css({
					width: function(){
						return $(this).parent().width()+'px';
					}
				});
				$(window).on('resize', function(){
					$('.affix-container').css({
						width: function(){
							return $(this).parent().width()+'px';
						}
					});
				})
			}, 200);
  	})
	</script>
</body>
</html>