<section id="project" class="detail">
    <form class="form" name="projectForm" ng-submit="submit()" novalidate>
        <div class="container">
            <div class="page-header">
                <h1 ng-bind="title"></h1>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div form-message></div>
                </div>
                <div class="col-xs-8">
                    <div class="form-group" ng-class="{'has-error': (projectForm.title.$invalid && projectForm.title.$dirty) || (projectForm.$submitted && projectForm.title.$error.required)}">
                        <label>Title</label>
                        <input type="text" class="form-control" name="title" ng-model="project.title" required>
                    </div>
                    <div class="form-group" ng-class="{'has-error': (projectForm.description.$invalid && projectForm.description.$dirty)}">
                        <label>Description</label>
                        <textarea class="form-control" rows="5" name="description" ng-model="project.description"></textarea>
                    </div>
                    <h2>Sections <button type="button" class="btn btn-link">+ add</button></h2>
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4><a role="button"</h4>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Images</label>
                        <p ng-show="!project.images.length">No images added</p>
                        <div class="input-group" ng-repeat="img in project.images">
                            <input type="url" class="form-control" name="image[]" ng-model="img">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-danger" ng-click="deleteImage($index)">Delete</button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': projectForm.newImg.$error.url && projectForm.newImg.$dirty}">
                        <div class="input-group">
                            <input type="url" class="form-control" name="newImg" ng-model="newImg">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-success" ng-click="addImage()" ng-disabled="{{projectForm.newImg.$error.url}}">Add</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <input type="file" class="form-control">
                    </div>
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-block btn-primary">{{ submitText }}</button>
                        </div>
                        <div class="btn-group" ng-hide="isNewProject()">
                            <button type="button" class="btn btn-block btn-danger" ng-click="deleteProject()">Delete Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
