<section id="project" class="detail">
    <form class="form" name="projectForm" ng-submit="submit()" novalidate>
        <div class="container">
            <div class="page-header">
                <h1 ng-bind="title"></h1>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div form-message></div>
                </div>
                <div class="col-xs-8">
                    <div class="form-group" ng-class="{'has-error': (projectForm.title.$invalid && projectForm.title.$dirty) || (projectForm.$submitted && projectForm.title.$error.required)}">
                        <label>Title</label>
                        <input type="text" class="form-control" name="title" ng-model="project.title" required>
                    </div>
                    <div class="form-group" ng-class="{'has-error': (projectForm.description.$invalid && projectForm.description.$dirty)}">
                        <label>Description</label>
                        <textarea class="form-control" rows="5" name="description" ng-model="project.description"></textarea>
                    </div>
                    <h2>Sections <button type="button" class="btn btn-link">+ add</button></h2>
                    <uib-accordion>
                        <div uib-accordion-group class="panel-default">
                            <div class="panel-heading">
                                <div class="form-group">
                                    <label>Heading</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Images <a role="button">+ add</a></label>
                                <input type="file" class="form-control">
                            </div>
                        </div>
                    </uib-accordion>
                    <div class="form-group" ng-class="{'has-error': projectForm.newImg.$error.url && projectForm.newImg.$dirty}">
                        <div class="input-group">
                            <input type="url" class="form-control" name="newImg" ng-model="newImg">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-success" ng-click="addImage()" ng-disabled="{{projectForm.newImg.$error.url}}">Add</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <label for="thumbnail">Project Thumbnail</label>
                        <div class="thumbnail">
                            <img class="img-responsive" src="http://placehold.it/900x600/3b3b3b/cccccc">
                            <div class="caption">

                            </div>
                        </div>
                        <input type="file" class="form-control">
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <button type="button" class="btn btn-block btn-danger" ng-click="deleteProject()"><i class="glyphicon glyphicon-trash"></i></button>
                        </div>
                        <div class="col-xs-6 col-xs-offset-3">
                            <button type="submit" class="btn btn-block btn-primary">{{ submitText }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
