<section id="contact">
	<div>
		<div class="content-wrapper">
			<div id="complementary-content">
				<div class="affix-container" project-description ng-class="{affix: affixed}">
					<!-- <h3>Contact Me</h3>
					<a href="javascript:void(0)" ng-click="launchVideo()"><img class="img-responsive" src="images/about-me.png"></a>
					<form class="well" method="post" action="http://getsimpleform.com/messages?form_api_token=9862094fds908vdsa8">
						<div class="form-group">
							<label>Name</label>
							<input type="text" class="form-control" name="name">
						</div>
						<div class="form-group">
							<label>Email</label>
							<input type="text" class="form-control" name="email">
						</div>
						<div class="form-group">
							<label>Message</label>
							<textarea rows="3" class="form-control" name="message"></textarea>
						</div>
					</form> -->
					<h4>Links</h4>
					<ul class="plain">
						<!-- <li><a href="mailto:charles@charlesstemen.com">Email</a></li> -->
						<li><a href="https://www.linkedin.com/profile/view?id=241863487&trk=nav_responsive_tab_profile" target="_blank">LinkedIn</a></li>
						<li><a href="http://instagram.com/gillacam" target="_blank">Instagram</a></li>
						<li><a href="https://vimeo.com/charlesstemen" target="_blank">Vimeo</a></li>
					</ul>
				</div>
			</div>
			<div id="main-content">
				<div>
					<h3>Who is Charles?</h3>
					<p>Hello.<br>I am a Graphic Designer &amp; Digital Media artist based in Burlington Vermont.</p>
					<p>My creativity bases itself in a variety of mediums;  I feel having many outlets to express my imagination builds originality.  My degree from Champlain College in Graphic Design, paired with my skills and experience producing professional videos and photographs provide me perspectives and attention to detail others don't have.</p>
					<p>Sound like the right mix for your creative needs?</p>
				</div>
				<div>
					<h4>Let's talk:</h4>
					<p><a href="mailto:charles@charlesstemen.com">charles@charlesstemen.com</a></p>
				</div>
				<div>
					<h4>Services:</h4>
					<ul class="plain">
						<li>Branding</li>
						<li>Print &amp; Publication Design</li>
						<li>Custom Lettering</li>
						<li>Packaging Design</li>
						<li>Web Design</li>
						<li>Motion Graphics</li>
						<li>Cinematography</li>
						<li>Video Editing</li>
						<li>Video Direction</li>
						<li>Photography (product, portrait, lifestyle, action, etc.)</li>
					</ul>
				</div>
				<div>
					<h4>Have a big project?<br>I often collaborate with these creative professionals:</h4>
					<ul class="plain">
						<li><a href="http://themainidea.tv/">The Main Idea</a></li>
						<!-- <li><a href="#">The Attic</a></li> -->
						<li><a href="http://hgskis.com">HG Skis</a></li>
						<!-- <li><a href="#">Liam McKinley</a></li> -->
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>